html, body {
  height: 100%;
  margin: 0;
}

h4 {
  align-items: center;
  text-align: center;
}

td {
  position: relative;
}

td a {
  position: absolute;
  cursor: pointer;
  left: 0; right: 0;
  top: 0; bottom: 0;
  padding-left: 10px;
 }

footer {
  margin-top: auto;
  background-color: #4C6085;
}

label {
  align-items: center;
  text-align: center;
}

.page {
  overflow: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background-color: #0E9347;
}

.content {
  min-height: 80%;
}

.img-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.icon-plus {
  padding-right: 5px;
}